<div role="navigation" class="navbar navbar-default navbar-fixed-top space-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
        <div class="navbar-header">
            <!-- start: RESPONSIVE MENU TOGGLER -->
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- end: RESPONSIVE MENU TOGGLER -->
            <!-- start: LOGO -->
            <a class="navbar-brand" href="index.html">
                CLIP<i class="clip-clip"></i>ONE
            </a>
            <!-- end: LOGO -->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <!--class="active"-->
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">
                        Pages <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="pages_about.html">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="pages_team.html">
                                Team
                            </a>
                        </li>
                        <li>
                            <a href="pages_services.html">
                                Services
                            </a>
                        </li>
                        <li>
                            <a href="pages_careers.html">
                                Careers
                            </a>
                        </li>
                        <li>
                            <a href="pages_faq.html">
                                Faq
                            </a>
                        </li>
                        <li>
                            <a href="pages_contact.html">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-menu">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">
                        Features <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- start: MEGA MENU CONTENT -->
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul class="sub-menu">
                                            <li>
                                                <span class="mega-menu-sub-title">Main Features</span>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="features_icons.html">
                                                            Icons
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="features_buttons.html">
                                                            Buttons
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="features_animations.html">
                                                            Animations
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="features_typograpy.html">
                                                            Typograpy
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="features_grid_system.html">
                                                            Grid System
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul class="sub-menu">
                                            <li>
                                                <span class="mega-menu-sub-title">Headers and Footers</span>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">
                                                            Header Version 1 <span class="label label-primary">Active</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="index_header_2.html">
                                                            Header Version 2
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="index_header_3.html">
                                                            Header Version 3
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            Footer Version 1 <span class="label label-primary">Active</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="index_footer_2.html#footer">
                                                            Footer Version 2
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul class="sub-menu">
                                            <li>
                                                <span class="mega-menu-sub-title">Extra</span>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="extra_search_result.html">
                                                            Search Result
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="extra_pricing_table.html">
                                                            Pricing Tables
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="extra_404.html">
                                                            404
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="extra_500.html">
                                                            500
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul class="sub-menu">
                                            <li>
                                                <span class="mega-menu-sub-title">Blog</span>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="blog_page.html">
                                                            Blog Page
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="blog_post.html">
                                                            Blog Post
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end: MEGA MENU CONTENT -->
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">
                        Portfolio <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="portfolio_example1.html">
                                4 Columns Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="portfolio_example2.html">
                                3 Columns Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="portfolio_example3.html">
                                2 Columns Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="portfolio_item.html">
                                Portfolio Item
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a target="_blank" href="http://themeforest.net/item/clipone-bootstrap-3-responsive-admin-template/5881143?ref=Cliptheme">
                        Admin Theme
                    </a>
                </li>
                <li class="menu-search">
                    <!-- start: SEARCH BUTTON -->
                    <a href="#" data-placement="bottom" data-toggle="popover">
                        <i class="clip-search-3"></i>
                    </a>
                    <!-- end: SEARCH BUTTON -->
                    <!-- start: SEARCH POPOVER -->
                    <div class="popover bottom search-box">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <!-- start: SEARCH FORM -->
                            <form class="" id="searchform" action="#">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-main-color btn-squared" type="button">
                                            <i class="clip-search-3"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <!-- end: SEARCH FORM -->
                        </div>
                    </div>
                    <!-- end: SEARCH POPOVER -->
                </li>
            </ul>
        </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
</div>