<!-- start: SLIDING BAR (SB) -->
<div id="slidingbar-area">
    <div id="slidingbar">
        <!-- start: SLIDING BAR FIRST COLUMN -->
        <div class="col-md-4 col-sm-4">
            <h2>About Clip-One</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
            </p>
        </div>
        <!-- end: SLIDING BAR FIRST COLUMN -->
        <!-- start: SLIDING BAR SECOND COLUMN -->
        <div class="col-md-4 col-sm-4">
            <h2>Recent Works</h2>
            <div class="blog-photo-stream margin-bottom-30">
                <ul class="list-unstyled">
                    <li>
                        <a href="#"><img alt="" src="assets/images/image01.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/images/image02.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/images/image03.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/images/image04.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/images/image05.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/images/image06.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/images/image07.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/images/image08.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/images/image09.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/images/image10.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end: SLIDING BAR SECOND COLUMN -->
        <!-- start: SLIDING BAR THIRD COLUMN -->
        <div class="col-md-4 col-sm-4">
            <h2>Contact Us</h2>
            <address class="margin-bottom-40">
                Clip-One
                <br>
                12345 Street Name, City Name, United States
                <br>
                P: (641)-734-4763
                <br>
                Email:
                <a href="#">
                    info@example.com
                </a>
            </address>
        </div>
        <!-- end: SLIDING BAR THIRD COLUMN -->
    </div>
    <!-- start: SLIDING BAR TOGGLE BUTTON -->
    <a href="#" class="sb_toggle">
    </a>
    <!-- end: SLIDING BAR TOGGLE BUTTON -->
</div>
<!-- end: SLIDING BAR -->
