<!-- start: STYLE SELECTOR BOX -->
<div id="style_selector" class="hidden-xs">
    <div id="style_selector_container">
        <div class="style-main-title">
            Style Selector
        </div>
        <div class="box-title">
            Predefined Color Schemes
        </div>
        <div class="images icons-color">
            <a id="blue" href="#"><img class="active" alt="" src="assets/images/blue.png"></a>
            <a id="purple" href="#"><img alt="" src="assets/images/purple.png"></a>
            <a id="red" href="#"><img alt="" src="assets/images/red.png"></a>
            <a id="orange" href="#"><img alt="" src="assets/images/orange.png"></a>
            <a id="green" href="#"><img alt="" src="assets/images/green.png"></a>
        </div>
        <div style="height:25px;line-height:25px; text-align: center">
            <a class="clear_style" href="#">
                Clear Styles
            </a>
            <a class="save_style" href="#">
                Save Styles
            </a>
        </div>
    </div>
    <div class="style-toggle close"></div>
</div>
<!-- end: STYLE SELECTOR BOX -->