<!-- start: TOP BAR -->
<div class="clearfix " id="topbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!-- start: TOP BAR CALL US -->
                <div class="callus">
                    Call Us: (641)-734-4763 - Mail:
                    <a href="mailto:info@example.com">
                        info@example.com
                    </a>
                </div>
                <!-- end: TOP BAR CALL US -->
            </div>
            <div class="col-sm-6">
                <!-- start: TOP BAR SOCIAL ICONS -->
                <div class="social-icons">
                    <ul>
                        <li class="social-twitter tooltips" data-original-title="Twitter" data-placement="bottom">
                            <a target="_blank" href="http://www.twitter.com">
                                Twitter
                            </a>
                        </li>
                        <li class="social-dribbble tooltips" data-original-title="Dribbble" data-placement="bottom">
                            <a target="_blank" href="http://dribbble.com">
                                Dribbble
                            </a>
                        </li>
                        <li class="social-facebook tooltips" data-original-title="Facebook" data-placement="bottom">
                            <a target="_blank" href="http://facebook.com">
                                Facebook
                            </a>
                        </li>
                        <li class="social-google tooltips" data-original-title="Google" data-placement="bottom">
                            <a target="_blank" href="http://google.com">
                                Google+
                            </a>
                        </li>
                        <li class="social-linkedin tooltips" data-original-title="LinkedIn" data-placement="bottom">
                            <a target="_blank" href="http://linkedin.com">
                                LinkedIn
                            </a>
                        </li>
                        <li class="social-youtube tooltips" data-original-title="YouTube" data-placement="bottom">
                            <a target="_blank" href="http://youtube.com/">
                                YouTube
                            </a>
                        </li>
                        <li class="social-rss tooltips" data-original-title="RSS" data-placement="bottom">
                            <a target="_blank" href="#">
                                RSS
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end: TOP BAR SOCIAL ICONS -->
            </div>
        </div>
    </div>
</div>
<!-- end: TOP BAR -->