<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style theme [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="../../bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    <link href="../../bower_components/flexslider/flexslider.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<body>
    <!-- start: HEADER -->
    <header>
        <!-- build:section layout.slidingBar --><!-- /build -->
        <!-- build:section layout.topBar --><!-- /build -->
        <!-- build:section layout.navigation --><!-- /build -->
    </header>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.styleSelector --><!-- /build -->
        <section class="page-top">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>Blog Page</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Features
                            </a>
                        </li>
                        <li class="active">
                            Blog Page
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="blog-posts">
                            <article>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="post-image">
                                            <div class="flexslider" data-plugin-options='{"directionNav":true}'>
                                                <ul class="slides">
                                                    <li>
                                                        <img src="assets/images/image01.jpg" />
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/image02.jpg" />
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/image03.jpg" />
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/image04.jpg" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="post-content">
                                            <h2>
                                                <a href="blog_post.html">
                                                    Euismod atras vulputate iltricies etri elit
                                                </a>
                                            </h2>
                                            <p>
                                                Euismod atras vulputate iltricies etri elit per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu ornare mauris tincidunt vitae. [...]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="post-meta">
                                            <span><i class="fa fa-calendar"></i> January 11, 2014 </span>
                                            <span>
                                                <i class="fa fa-user"></i> By
                                                <a href="#">
                                                    Peter Clark
                                                </a>
                                            </span>
                                            <span>
                                                <i class="fa fa-tag"></i>
                                                <a href="#">
                                                    Bootstrap
                                                </a>,
                                                <a href="#">
                                                    Design
                                                </a>
                                            </span>
                                            <span>
                                                <i class="fa fa-comments"></i>
                                                <a href="#">
                                                    36 Comments
                                                </a>
                                            </span>
                                            <a class="btn btn-xs btn-main-color pull-right" href="blog_post.html">
                                                Read more...
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="post-image">
                                            <div class="flexslider" data-plugin-options='{"directionNav":true}'>
                                                <ul class="slides">
                                                    <li>
                                                        <img src="assets/images/image05.jpg" />
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/image06.jpg" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="post-content">
                                            <h2>
                                                <a href="blog_post.html">
                                                    Euismod atras vulputate iltricies etri elit
                                                </a>
                                            </h2>
                                            <p>
                                                Euismod atras vulputate iltricies etri elit per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. [...]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="post-meta">
                                            <span><i class="fa fa-calendar"></i> January 11, 2014 </span>
                                            <span>
                                                <i class="fa fa-user"></i> By
                                                <a href="#">
                                                    Peter Clark
                                                </a>
                                            </span>
                                            <span>
                                                <i class="fa fa-tag"></i>
                                                <a href="#">
                                                    Bootstrap
                                                </a>,
                                                <a href="#">
                                                    Design
                                                </a>
                                            </span>
                                            <span>
                                                <i class="fa fa-comments"></i>
                                                <a href="#">
                                                    36 Comments
                                                </a>
                                            </span>
                                            <a class="btn btn-xs btn-main-color pull-right" href="blog_post.html">
                                                Read more...
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="post-image">
                                            <div class="flexslider" data-plugin-options='{"directionNav":true}'>
                                                <ul class="slides">
                                                    <li>
                                                        <img src="assets/images/image07.jpg" />
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/image08.jpg" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="post-content">
                                            <h2>
                                                <a href="blog_post.html">
                                                    Euismod atras vulputate iltricies etri elit
                                                </a>
                                            </h2>
                                            <p>
                                                Euismod atras vulputate iltricies etri elit per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu ornare mauris tincidunt vitae. [...]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="post-meta">
                                            <span><i class="fa fa-calendar"></i> January 11, 2014 </span>
                                            <span>
                                                <i class="fa fa-user"></i> By
                                                <a href="#">
                                                    Peter Clark
                                                </a>
                                            </span>
                                            <span>
                                                <i class="fa fa-tag"></i>
                                                <a href="#">
                                                    Bootstrap
                                                </a>,
                                                <a href="#">
                                                    Design
                                                </a>
                                            </span>
                                            <span>
                                                <i class="fa fa-comments"></i>
                                                <a href="#">
                                                    36 Comments
                                                </a>
                                            </span>
                                            <a class="btn btn-xs btn-main-color pull-right" href="blog_post.html">
                                                Read more...
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <ul class="pagination">
                                <li>
                                    <a href="#">
                                        «
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        2
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        3
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        »
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <aside class="sidebar">
                            <form>
                                <div class="input-group">
                                    <input type="text" id="s" name="s" placeholder="Search..." class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-main-color" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <hr>
                            <h4>Categories</h4>
                            <ul class="nav nav-list blog-categories">
                                <li>
                                    <a href="#">
                                        Travel
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Design
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Videos
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Photography
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Lifestyle
                                    </a>
                                </li>
                            </ul>
                            <div class="tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#popularPosts"><i class="fa fa-star"></i> Popular</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#recentPosts">
                                            Recent
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="popularPosts" class="tab-pane active">
                                        <ul class="post-list">
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <img alt="" src="assets/images/image03_thumb.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#">
                                                        Nullam Vitae Nibh Un Odiosters
                                                    </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <img alt="" src="assets/images/image04_thumb.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#">
                                                        Vitae Nibh Un Odiosters
                                                    </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <img alt="" src="assets/images/image05_thumb.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#">
                                                        Odiosters Nullam Vitae
                                                    </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="recentPosts" class="tab-pane">
                                        <ul class="post-list">
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <img class="img-responsive" alt="" src="assets/images/image06_thumb.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#">
                                                        Vitae Nibh Un Odiosters
                                                    </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <img alt="" src="assets/images/image07_thumb.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#">
                                                        Odiosters Nullam Vitae
                                                    </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <img alt="" src="assets/images/image08_thumb.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#">
                                                        Nullam Vitae Nibh Un Odiosters
                                                    </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4>About Us</h4>
                            <p>
                                Culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.
                            </p>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="../../bower_components/respond/dest/respond.min.js"></script>
        <script src="../../bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../bower_components/flexslider/jquery.flexslider-min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>
</body>
</html>
