<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style theme [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="../../bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    <link href="../../bower_components/flexslider/flexslider.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<body>
    <!-- start: HEADER -->
    <header>
        <!-- build:section layout.slidingBar --><!-- /build -->
        <!-- build:section layout.topBar --><!-- /build -->
        <!-- build:section layout.navigation --><!-- /build -->
    </header>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.styleSelector --><!-- /build -->

        <section class="page-top">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>Typograpy</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Features
                            </a>
                        </li>
                        <li class="active">
                            Typograpy
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Sample text with lead body</h3>
                        <p class="lead">
                            Lead body. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Sample text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.
                        </p>
                        <p>
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                        <p>
                            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Texts</h3>
                        <p class="text-muted">
                            Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
                        </p>
                        <p class="text-primary">
                            Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                        <p class="text-success">
                            Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
                        </p>
                        <p class="text-info">
                            Maecenas sed diam eget risus varius blandit sit amet non magna.
                        </p>
                        <p class="text-warning">
                            Etiam porta sem malesuada magna mollis euismod.
                        </p>
                        <p class="text-danger">
                            Donec ullamcorper nulla non metus auctor fringilla.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Headings</h3>
                        <h1>h1. Heading 1</h1>
                        <h2>h2. Heading 2</h2>
                        <h3>h3. Heading 3</h3>
                        <h4>h4. Heading 4</h4>
                        <h5>h5. Heading 5</h5>
                        <h6>h6. Heading 6</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Address</h3>
                        <div class="well">
                            <address>
                                <strong>Twitter, Inc.</strong>
                                <br>
                                795 Folsom Ave, Suite 600
                                <br>
                                San Francisco, CA 94107
                                <br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                            <address>
                                <strong>Full Name</strong>
                                <br>
                                <a href="mailto:#">
                                    first.last@example.com
                                </a>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Some more text here</h3>
                        <p>
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                        <p>
                            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h3>Blockquotes</h3>
                        <blockquote>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Duis mollis, est non commodo luctus, nisi erat porttitor ligula integer posuere erat a ante.
                            </p>
                        </blockquote>
                        <blockquote>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            </p>
                            <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <div class="clearfix">
                            <blockquote class="pull-right">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                </p>
                                <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div>
                        <h3>Wells</h3>
                        <div class="well well-lg">
                            <h4>Look, I'm in a large well!</h4>
                            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.Integer molestie lorem at massa Integer molestie lorem at massa Integer molestie lorem at massa Integer molestie lorem at massa.
                        </div>
                        <div class="well well-sm">
                            <h4>Look, I'm in a small well!</h4>
                            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Integer molestie lorem at massa Integer molestie lorem at massa  Integer molestie lorem at massa
                        </div>
                        <h3> Vertical description </h3>
                        <dl>
                            <dt>
                                Description lists
                            </dt>
                            <dd>
                                A description list is perfect for defining terms.
                            </dd>
                            <dt>
                                Euismod
                            </dt>
                            <dd>
                                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                            </dd>
                            <dd>
                                Donec id elit non mi porta gravida at eget metus.
                            </dd>
                            <dt>
                                Malesuada porta
                            </dt>
                            <dd>
                                Etiam porta sem malesuada magna mollis euismod.
                            </dd>
                        </dl>
                        <h3> Horizontal description </h3>
                        <dl class="dl-horizontal">
                            <dt>
                                Description lists
                            </dt>
                            <dd>
                                A description list is perfect for defining terms.
                            </dd>
                            <dt>
                                Euismod
                            </dt>
                            <dd>
                                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                            </dd>
                            <dd>
                                Donec id elit non mi porta gravida at eget metus.
                            </dd>
                            <dt>
                                Malesuada porta
                            </dt>
                            <dd>
                                Etiam porta sem malesuada magna mollis euismod.
                            </dd>
                            <dt>
                                Felis euismod semper eget lacinia
                            </dt>
                            <dd>
                                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <h3>Unordered Lists</h3>
                        <ul>
                            <li>
                                Lorem ipsum dolor sit amet
                            </li>
                            <li>
                                Consectetur adipiscing elit
                            </li>
                            <li>
                                Integer molestie lorem at massa
                            </li>
                            <li>
                                Facilisis in pretium nisl aliquet
                            </li>
                            <li>
                                Nulla volutpat aliquam velit
                                <ul>
                                    <li>
                                        Phasellus iaculis neque
                                    </li>
                                    <li>
                                        Purus sodales ultricies
                                    </li>
                                    <li>
                                        Vestibulum laoreet porttitor sem
                                    </li>
                                    <li>
                                        Ac tristique libero volutpat at
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Faucibus porta lacus fringilla vel
                            </li>
                            <li>
                                Aenean sit amet erat nunc
                            </li>
                            <li>
                                Eget porttitor lorem
                            </li>
                        </ul>
                        <h3>Ordered Lists</h3>
                        <ol>
                            <li>
                                Lorem ipsum dolor sit amet
                            </li>
                            <li>
                                Consectetur adipiscing elit
                            </li>
                            <li>
                                Integer molestie lorem at massa
                            </li>
                            <li>
                                Facilisis in pretium nisl aliquet
                            </li>
                            <li>
                                Nulla volutpat aliquam velit
                            </li>
                            <li>
                                Faucibus porta lacus fringilla vel
                            </li>
                            <li>
                                Aenean sit amet erat nunc
                            </li>
                            <li>
                                Eget porttitor lorem
                            </li>
                        </ol>
                        <h3>Unstyled Lists</h3>
                        <ul class="list-unstyled">
                            <li>
                                Lorem ipsum dolor sit amet
                            </li>
                            <li>
                                Consectetur adipiscing elit
                            </li>
                            <li>
                                Integer molestie lorem at massa
                            </li>
                            <li>
                                Facilisis in pretium nisl aliquet
                            </li>
                            <li>
                                Nulla volutpat aliquam velit
                                <ul>
                                    <li>
                                        Phasellus iaculis neque
                                    </li>
                                    <li>
                                        Purus sodales ultricies
                                    </li>
                                    <li>
                                        Vestibulum laoreet porttitor sem
                                    </li>
                                    <li>
                                        Ac tristique libero volutpat at
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Faucibus porta lacus fringilla vel
                            </li>
                            <li>
                                Aenean sit amet erat nunc
                            </li>
                            <li>
                                Eget porttitor lorem
                            </li>
                        </ul>
                        <h3>Inline List</h3>
                        <ul class="list-inline">
                            <li>
                                Lorem ipsum
                            </li>
                            <li>
                                Phasellus iaculis
                            </li>
                            <li>
                                Nulla volutpat
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="../../bower_components/respond/dest/respond.min.js"></script>
        <script src="../../bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../bower_components/flexslider/jquery.flexslider-min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>
</body>
</html>
