<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style theme [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="../../bower_components/flexslider/flexslider.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<body>
    <!-- start: HEADER -->
    <header>
        <!-- build:section layout.slidingBar --><!-- /build -->
        <!-- build:section layout.topBar --><!-- /build -->
        <!-- build:section layout.navigation --><!-- /build -->
    </header>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.styleSelector --><!-- /build -->

        <section class="page-top">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>Services</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Pages
                            </a>
                        </li>
                        <li class="active">
                            Services
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="wrapper padding50 animate-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="center">Increase your performance with our services</h1>
                        <p class="center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                                <i class="fa fa-group"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Customer Support</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Fully Responsive</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                                <i class="fa fa-random"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Awesome Sliders</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                                <i class="fa fa-text-width"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Google Fonts</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="feature-info">
                                <h4>Custom Icons</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="feature-info">
                                <h4>HTML5 / CSS3 / JS</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wrapper wrapper-grey padding50">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- BEGIN VIDEO -->
                        <iframe src="http://player.vimeo.com/video/25196368?portrait=0" height="300" style="width:100%; border:0" allowFullScreen></iframe>
                        <!-- END VIDEO -->
                    </div>
                    <div class="col-md-6">
                        <h3>What Client’s Say</h3>
                        <div class="row">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="col-md-12">
                                            <blockquote class="testimonial">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.
                                                </p>
                                            </blockquote>
                                            <div class="testimonial-arrow-down"></div>
                                            <div class="testimonial-author">
                                                <div class="img-thumbnail img-thumbnail-small">
                                                    <img src="assets/images/avatar-1.jpg" alt="">
                                                </div>
                                                <p>
                                                    <strong>Peter Clark</strong><span>UI Designer - Cliptheme</span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-12">
                                            <blockquote class="testimonial">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                </p>
                                            </blockquote>
                                            <div class="testimonial-arrow-down"></div>
                                            <div class="testimonial-author">
                                                <div class="img-thumbnail img-thumbnail-small">
                                                    <img src="assets/images/avatar-2.jpg" alt="">
                                                </div>
                                                <p>
                                                    <strong>Nicole Bell</strong><span>Content Designer - Cliptheme</span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wrapper padding50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="center">Some of Our Works</h1>
                        <hr>
                    </div>
                    <div class="col-md-4">
                        <div class="flexslider" data-plugin-options='{"directionNav":true, "controlNav": false}'>
                            <ul class="slides">
                                <li>
                                    <img src="assets/images/image01.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image02.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image03.jpg" />
                                </li>
                            </ul>
                        </div>
                        <h4>Top Team</h4>
                        <p>
                            Aenean commodo ligula eget dolor. Aeneane penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="flexslider" data-plugin-options='{"directionNav":true, "controlNav": false}'>
                            <ul class="slides">
                                <li>
                                    <img src="assets/images/image04.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image05.jpg" />
                                </li>
                            </ul>
                        </div>
                        <h4>Top Team</h4>
                        <p>
                            Aenean commodo ligula eget dolor. Aeneane penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="flexslider" data-plugin-options='{"directionNav":true, "controlNav": false}'>
                            <ul class="slides">
                                <li>
                                    <img src="assets/images/image06.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image07.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image08.jpg" />
                                </li>
                            </ul>
                        </div>
                        <h4>Top Team</h4>
                        <p>
                            Aenean commodo ligula eget dolor. Aeneane penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="../../bower_components/respond/dest/respond.min.js"></script>
        <script src="../../bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../bower_components/flexslider/jquery.flexslider-min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>
</body>
</html>
