<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style theme [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="../../bower_components/flexslider/flexslider.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<body>
    <!-- start: HEADER -->
    <header>
        <!-- build:section layout.slidingBar --><!-- /build -->
        <!-- build:section layout.topBar --><!-- /build -->
        <!-- build:section layout.navigation --><!-- /build -->
    </header>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.styleSelector --><!-- /build -->

        <section class="page-top">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>Careers</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Pages
                            </a>
                        </li>
                        <li class="active">
                            Careers
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="wrapper padding50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="center">Jobs &amp; Careers</h1>
                        <p class="center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel-group accordion-custom accordion-teal" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <i class="icon-arrow"></i>
                                            Advertising Sales Rep
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            <strong>Location:</strong> New York - <strong>Department:</strong> Engineering
                                        </p>
                                        <p>
                                            Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra.
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-main-color pull-bottom">
                                                Apply Now
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <i class="icon-arrow"></i>
                                            Graphic Designer
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            <strong>Location:</strong> New York - <strong>Department:</strong> Engineering
                                        </p>
                                        <p>
                                            Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra.
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-main-color pull-bottom">
                                                Apply Now
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <i class="icon-arrow"></i>
                                            Marketing Manager
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            <strong>Location:</strong> New York - <strong>Department:</strong> Engineering
                                        </p>
                                        <p>
                                            Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra.
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-main-color pull-bottom">
                                                Apply Now
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            <i class="icon-arrow"></i>
                                            Web Developer
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            <strong>Location:</strong> New York - <strong>Department:</strong> Engineering
                                        </p>
                                        <p>
                                            Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra.
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-main-color pull-bottom">
                                                Apply Now
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifth">
                                            <i class="icon-arrow"></i>
                                            Web Master
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFifth" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            <strong>Location:</strong> New York - <strong>Department:</strong> Engineering
                                        </p>
                                        <p>
                                            Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra.
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-main-color pull-bottom">
                                                Apply Now
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                            <i class="icon-arrow"></i>
                                            Writer and Editor
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            <strong>Location:</strong> New York - <strong>Department:</strong> Engineering
                                        </p>
                                        <p>
                                            Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra.
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-main-color pull-bottom">
                                                Apply Now
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                            <i class="icon-arrow"></i>
                                            Human Resources
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            <strong>Location:</strong> New York - <strong>Department:</strong> Engineering
                                        </p>
                                        <p>
                                            Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra.
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-main-color pull-bottom">
                                                Apply Now
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2>Contact Form</h2>
                        <!-- BEGIN FORM-->
                        <form role="form" class="horizontal-form margin-bottom-40" action="#">
                            <div class="form-group">
                                <label class="control-label">
                                    Name <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="Insert your Name" class="form-control" id="firstname" name="firstname">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Dropdown <span class="symbol required"></span>
                                </label>
                                <select class="form-control" id="dropdown" name="dropdown">
                                    <option value="">Select...</option>
                                    <option value="Category 1">Category 1</option>
                                    <option value="Category 2">Category 2</option>
                                    <option value="Category 3">Category 5</option>
                                    <option value="Category 4">Category 4</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="form-field-22">
                                    Message <span class="symbol required"></span>
                                </label>
                                <textarea class="form-control" id="form-field-22" placeholder="Message"></textarea>
                            </div>
                            <button class="btn btn-main-color btn-block" type="submit">
                                Send <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </section>
        <section class="wrapper wrapper-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="promobox">
                            <p class="center">
                                Clip-One Template makes it easy to create a World class website with a unique style and many new awesome features!
                            </p>
                            <p class="center">
                                <a href="http://themeforest.net/item/clipone-bootstrap-3-responsive-admin-template/5881143?ref=Cliptheme" class="btn btn-bricky">
                                    Buy Now
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="../../bower_components/respond/dest/respond.min.js"></script>
        <script src="../../bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../bower_components/flexslider/jquery.flexslider-min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>
</body>
</html>
