<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style theme [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="../../bower_components/flexslider/flexslider.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<body>
    <!-- start: HEADER -->
    <header>
        <!-- build:section layout.slidingBar --><!-- /build -->
        <!-- build:section layout.topBar --><!-- /build -->
        <!-- build:section layout.navigation --><!-- /build -->
    </header>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.styleSelector --><!-- /build -->

        <section class="page-top">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>Team</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Pages
                            </a>
                        </li>
                        <li class="active">
                            Team
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="center">Meet the Team</h1>
                        <p class="center">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <ul class="team-list">
                                <li class="col-md-6 col-sm-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/team-1.jpg" alt="">
                                        <span class="image-overlay"> <i data-original-title="Facebook" data-placement="top" class="tooltips fa fa-facebook circle-icon circle-small"></i> <i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></span>
                                    </div>
                                    <h3>Peter Clark</h3>
                                    <div>
                                        UI Designer
                                    </div>
                                    <div itemprop="description" class="team-member-description">
                                        <p>
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Lorem ipsum dolor</strong> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        </p>
                                    </div>
                                </li>
                                <li class="col-md-6 col-sm-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/team-2.jpg" alt="">
                                        <span class="image-overlay"><a target="_blank" href="http://www.linkedin.com"><i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></a> <a target="_blank" href="http://www.github.com"><i data-original-title="Github" data-placement="top" class="tooltips fa fa-github circle-icon circle-small"></i></a></span>
                                    </div>
                                    <h3>Ella Patterson</h3>
                                    <div>
                                        Web Editor
                                    </div>
                                    <div itemprop="description" class="team-member-description">
                                        <p>
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Lorem ipsum dolor</strong> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="promobox">
                            <p class="center">
                                Clip-One Template makes it easy to create a World class website with a unique style and many new awesome features!
                            </p>
                            <p class="center">
                                <a href="http://themeforest.net/item/clipone-bootstrap-3-responsive-admin-template/5881143?ref=Cliptheme" class="btn btn-bricky">
                                    Buy Now
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <ul class="team-list animate-group">
                                <li class="col-md-4 col-sm-6">
                                    <div class="thumbnail">
                                        <img class="animate" src="assets/images/team-3.jpg" alt="" data-animation-options='{"animation":"fadeInLeft", "duration":"300"}'>
                                        <span class="image-overlay"><a target="_blank" href="http://www.twitter.com"><i data-original-title="Twitter" data-placement="top" class="tooltips fa fa-twitter circle-icon circle-small"></i></a> <a target="_blank" href="http://plus.google.com"><i data-original-title="Google+" data-placement="top" class="tooltips fa fa-google-plus circle-icon circle-small"></i></a></span>
                                    </div>
                                    <h3>Mark Johnson</h3>
                                    <div>
                                        Senior Designer
                                    </div>
                                    <div itemprop="description" class="team-member-description">
                                        <p>
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Lorem ipsum dolor</strong> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        </p>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-6">
                                    <div class="thumbnail">
                                        <img class="animate" src="assets/images/team-4.jpg" alt="" data-animation-options='{"animation":"fadeInLeft", "duration":"300"}'>
                                        <span class="image-overlay"> <a target="_blank" href="http://www.github.com"><i data-original-title="Github" data-placement="top" class="tooltips fa fa-github circle-icon circle-small"></i></a></span>
                                    </div>
                                    <h3>Steven Thompson</h3>
                                    <div>
                                        Visual Designer
                                    </div>
                                    <div itemprop="description" class="team-member-description">
                                        <p>
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Lorem ipsum dolor</strong> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        </p>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-6">
                                    <div class="thumbnail">
                                        <img class="animate" src="assets/images/team-5.jpg" alt="" data-animation-options='{"animation":"fadeInLeft", "duration":"300"}'>
                                        <span class="image-overlay"> <a target="_blank" href="http://www.facebook.com"><i data-original-title="Facebook" data-placement="top" class="tooltips fa fa-facebook circle-icon circle-small"></i></a> <a target="_blank" href="http://www.linkedin.com"><i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></a></span>
                                    </div>
                                    <h3>Adele Maitland</h3>
                                    <div>
                                        Art Director
                                    </div>
                                    <div itemprop="description" class="team-member-description">
                                        <p>
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Lorem ipsum dolor</strong> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <ul class="team-list animate-group">
                                <li class="col-md-4 col-sm-6">
                                    <div class="thumbnail">
                                        <img class="animate" src="assets/images/team-6.jpg" alt="" data-animation-options='{"animation":"fadeInRight", "duration":"300"}'>
                                        <span class="image-overlay"> <a target="_blank" href="http://www.facebook.com"><i data-original-title="Facebook" data-placement="top" class="tooltips fa fa-facebook circle-icon circle-small"></i></a> <a target="_blank" href="http://www.linkedin.com"><i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></a></span>
                                    </div>
                                    <h3>Kenneth Ross</h3>
                                    <div>
                                        Senior Designer
                                    </div>
                                    <div itemprop="description" class="team-member-description">
                                        <p>
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Lorem ipsum dolor</strong> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        </p>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-6">
                                    <div class="thumbnail">
                                        <img class="animate" src="assets/images/team-7.jpg" alt="" data-animation-options='{"animation":"fadeInRight", "duration":"300"}'>
                                        <span class="image-overlay"><a target="_blank" href="http://www.linkedin.com"><i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></a></span>
                                    </div>
                                    <h3>Nicole Bell</h3>
                                    <div>
                                        Content Designer
                                    </div>
                                    <div itemprop="description" class="team-member-description">
                                        <p>
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Lorem ipsum dolor</strong> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        </p>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-6">
                                    <div class="thumbnail">
                                        <img class="animate" src="assets/images/team-8.jpg" alt="" data-animation-options='{"animation":"fadeInRight", "duration":"300"}'>
                                        <span class="image-overlay"> <a target="_blank" href="http://www.facebook.com"><i data-original-title="Facebook" data-placement="top" class="tooltips fa fa-facebook circle-icon circle-small"></i></a> <a target="_blank" href="http://www.linkedin.com"><i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></a></span>
                                    </div>
                                    <h3>John Davis</h3>
                                    <div>
                                        Marketing Manager
                                    </div>
                                    <div itemprop="description" class="team-member-description">
                                        <p>
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Lorem ipsum dolor</strong> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="../../bower_components/respond/dest/respond.min.js"></script>
        <script src="../../bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../bower_components/flexslider/jquery.flexslider-min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>
</body>
</html>
