<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style theme [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="../../bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    <link href="../../bower_components/flexslider/flexslider.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<body>
    <!-- start: HEADER -->
    <header>
        <!-- build:section layout.slidingBar --><!-- /build -->
        <!-- build:section layout.topBar --><!-- /build -->
        <!-- build:section layout.navigation --><!-- /build -->
    </header>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.styleSelector --><!-- /build -->

        <section class="page-top">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>About Us</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Pages
                            </a>
                        </li>
                        <li class="active">
                            About Us
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <div class="container">
                <div class="portfolio-title">
                    <div class="row">
                        <div class="col-md-12 center">
                            <h2 class="shorter">Ut veniam unde nostrudlaboris</h2>
                        </div>
                    </div>
                </div>
                <hr class="tall">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flexslider" data-plugin-options='{"directionNav":true}'>
                            <ul class="slides">
                                <li>
                                    <img src="assets/images/image01.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image02.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image03.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image04.jpg" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pull-right">
                                        <li>
                                            <i class="fa fa-calendar"></i> 21 November 2014
                                        </li>
                                        <li>
                                            <i class="fa fa-tags"></i>
                                            <a href="#">
                                                PSD
                                            </a>
                                            ,
                                            <a href="#">
                                                Design
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>Description</h4>
                        <p class="taller">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.
                        </p>
                        <a class="btn btn-main-color btn-squared" href="#">
                            VISIT THE PROJECT
                        </a>
                        <span data-appear-animation-delay="800" data-appear-animation="rotateInUpLeft" class="arrow hlb appear-animation rotateInUpLeft appear-animation-visible" style="animation-delay: 800ms;"></span>
                        <ul class="portfolio-details list-unstyled">
                            <li>
                                <p>
                                    <strong>Skills Needed:</strong>
                                </p>
                                <ul class="list list-skills icons list-unstyled list-inline">
                                    <li>
                                        <i class="fa fa-check-circle"></i> Psd
                                    </li>
                                    <li>
                                        <i class="fa fa-check-circle"></i> Illustrator
                                    </li>
                                    <li>
                                        <i class="fa fa-check-circle"></i> Design
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p>
                                    <strong>Copyright:</strong>
                                </p>
                                <p>
                                    Peter Clark
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>Client Testimonial:</strong>
                                </p>
                                <blockquote>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti.
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="wrapper padding50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="center">Some of Our Works</h1>
                        <hr>
                    </div>
                    <div class="col-md-4">
                        <div class="flexslider" data-plugin-options='{"directionNav":true, "controlNav": false}'>
                            <ul class="slides">
                                <li>
                                    <img src="assets/images/image01.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image02.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image03.jpg" />
                                </li>
                            </ul>
                        </div>
                        <h4>Top Team</h4>
                        <p>
                            Aenean commodo ligula eget dolor. Aeneane penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="flexslider" data-plugin-options='{"directionNav":true, "controlNav": false}'>
                            <ul class="slides">
                                <li>
                                    <img src="assets/images/image04.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image05.jpg" />
                                </li>
                            </ul>
                        </div>
                        <h4>Top Team</h4>
                        <p>
                            Aenean commodo ligula eget dolor. Aeneane penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="flexslider" data-plugin-options='{"directionNav":true, "controlNav": false}'>
                            <ul class="slides">
                                <li>
                                    <img src="assets/images/image06.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image07.jpg" />
                                </li>
                                <li>
                                    <img src="assets/images/image08.jpg" />
                                </li>
                            </ul>
                        </div>
                        <h4>Top Team</h4>
                        <p>
                            Aenean commodo ligula eget dolor. Aeneane penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="../../bower_components/respond/dest/respond.min.js"></script>
        <script src="../../bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../bower_components/flexslider/jquery.flexslider-min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>
</body>
</html>
