<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style theme [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="../../bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    <link href="../../bower_components/flexslider/flexslider.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<body>
    <!-- start: HEADER -->
    <header>
        <!-- build:section layout.slidingBar --><!-- /build -->
        <!-- build:section layout.topBar --><!-- /build -->
        <!-- build:section layout.navigation --><!-- /build -->
    </header>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.styleSelector --><!-- /build -->

        <section class="page-top">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>About Us</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Pages
                            </a>
                        </li>
                        <li class="active">
                            About Us
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="wrapper portfolio-page">
            <div class="container">
                <div class="controls">
                    <h3>Filter Controls</h3>
                    <ul class="nav nav-pills">
                        <li class="filter active" data-filter="all">
                            <a href="#">
                                Show All
                            </a>
                        </li>
                        <li class="filter" data-filter=".category-1">
                            <a href="#">
                                Category 1
                            </a>
                        </li>
                        <li class="filter" data-filter=".category-2">
                            <a href="#">
                                Category 2
                            </a>
                        </li>
                        <li class="filter" data-filter=".category-3">
                            <a href="#">
                                Category 3
                            </a>
                        </li>
                        <li class="filter" data-filter=".category-3, .category-1">
                            <a href="#">
                                Category 1 &amp; 3
                            </a>
                        </li>
                    </ul>
                </div>
                <hr />
                <!-- GRID -->
                <ul id="Grid" class="list-unstyled">
                    <li class="col-md-4 col-xs-12 mix category-1">
                        <div class="portfolio-item img-thumbnail">
                            <a class="thumb-info" href="portfolio_item.html">
                                <img src="assets/images/image01.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title"> <span class="thumb-info-inner">SEO</span> <span class="thumb-info-type">Website</span> </span>
                                <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-12 mix category-2">
                        <div class="portfolio-item img-thumbnail">
                            <a class="thumb-info" href="portfolio_item.html">
                                <img src="assets/images/image02.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title"> <span class="thumb-info-inner">Crivos</span> <span class="thumb-info-type">Brand</span> </span>
                                <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-12 mix category-3">
                        <div class="portfolio-item img-thumbnail">
                            <a class="thumb-info" href="portfolio_item.html">
                                <img src="assets/images/image03.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title"> <span class="thumb-info-inner">The Fly</span> <span class="thumb-info-type">Logo</span> </span>
                                <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-12 mix category-3">
                        <div class="portfolio-item img-thumbnail">
                            <a class="thumb-info" href="portfolio_item.html">
                                <img src="assets/images/image04.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title"> <span class="thumb-info-inner">The Code</span> <span class="thumb-info-type">Website</span> </span>
                                <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-12 mix category-1">
                        <div class="portfolio-item img-thumbnail">
                            <a class="thumb-info" href="portfolio_item.html">
                                <img src="assets/images/image05.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title"> <span class="thumb-info-inner">The Code</span> <span class="thumb-info-type">Website</span> </span>
                                <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-12 mix category-3">
                        <div class="portfolio-item img-thumbnail">
                            <a class="thumb-info" href="portfolio_item.html">
                                <img src="assets/images/image06.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title"> <span class="thumb-info-inner">SEO</span> <span class="thumb-info-type">Website</span> </span>
                                <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-12 mix category-2">
                        <div class="portfolio-item img-thumbnail">
                            <a class="thumb-info" href="portfolio_item.html">
                                <img src="assets/images/image07.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title"> <span class="thumb-info-inner">Crivos</span> <span class="thumb-info-type">Brand</span> </span>
                                <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-12 mix category-1">
                        <div class="portfolio-item img-thumbnail">
                            <a class="thumb-info" href="portfolio_item.html">
                                <img src="assets/images/image08.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title"> <span class="thumb-info-inner">The Fly</span> <span class="thumb-info-type">Logo</span> </span>
                                <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
                            </a>
                        </div>
                    </li>

                    <li class="gap"></li>
                    <!-- "gap" elements fill in the gaps in justified grid -->
                </ul>
            </div>
        </section>
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="../../bower_components/respond/dest/respond.min.js"></script>
        <script src="../../bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../bower_components/flexslider/jquery.flexslider-min.js"></script>
    <script src="../../bower_components/mixitup/build/jquery.mixitup.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
            $('#Grid').mixItUp();
        });
    </script>
</body>
</html>
